.app {
  max-width: 80rem;
}

.content {
  display: flex;
}

@media screen and (max-width: 768px) {
  /* モバイル画面状態 */
  .content {
    display: flex;
    flex-direction: column;
  }
}

/* flex grow flex shrink flex basis*/
/* 均等にのびるじじむ */
.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
